<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Lutadores</title>
</head>
<body class="bg-yellow-600">
    <nav class="p-4 bg-slate-900">
        <div class="container mx-auto flex items-center justify-between mb-12">
            <!-- Logo com link (lado esquerdo) -->
            <div class="space-x-20">
                <div class="flex items-center">
                    <a href="/">
                        <img src="/img/logo.png" alt="Unabomber" class="h-12 text-white" id="logo-image" onmouseover="changeImage()" onmouseout="resetImage()" />
                    </a>
                    <a href="/" class="text-white hover:text-yellow-300 ml-2">Unabomber</a>
                </div>
            </div>
            <!-- Menu Hamburguer (visível em telas pequenas) -->
            <div class="space-x-4 md:hidden">
                <!-- md:hidden significa que essa parte é visível apenas em telas médias e menores -->
                <button id="menu-toggle" class=" hover:text-yellow-300 focus:outline-none">
                    <!-- Altere a classe para text-green-500 para tornar o ícone verde -->
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="2rem" height="2rem" viewBox="0 0 50 50"
                        style="fill:#FFFFFF;">
                        <path
                            d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- Links de navegação (lado direito) -->
            <div class="hidden md:flex space-x-4">
                <!-- md:flex significa que essa parte é visível em telas médias e maiores -->
                <a href="" class="text-white hover:text-yellow-300">Login</a>
                <a href="#" class="text-white hover:text-yellow-300">Cadastro</a>
                <a href="/lutadores" class="text-white hover:text-yellow-300">Lutadores</a>
            </div>
        </div>
        <!-- Menu Dropdown (visível em telas pequenas) -->
        <ul id="menu-dropdown" class="hidden md:hidden text-white mt-2">
            <li><a href="#" class="block py-2">Login</a></li>
            <li><a href="#" class="block py-2">Cadastro</a></li>
            <li><a href="/lutadores" class="block py-2">Lutadores</a></li>
        </ul>
    </nav>

    <div class="align-middle text-center te"> <!-- Reduzindo a largura para 28 (30% menor) -->
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
          <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/diego.jpg')" title="Woman holding a mug">
          </div>
          <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
              <p class="text-sm text-gray-600 flex items-center">
              </p>
              <div class="text-gray-900 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
              <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
            </div>
            <div class="flex items-center">
              <button class="w-16 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-red-700 mr-2 mb-2 border-2 border-sky-500">Deletar</button> <!-- Reduzindo a largura para 16 (30% menor) -->
              <button class="w-16 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2 border-2 border-sky-500">Editar</button> <!-- Reduzindo a largura para 16 (30% menor) -->
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      

      
      
      

      



      <script>
        function changeImage() {
            document.getElementById('logo-image').src = '/img/lg.png';
        }

        function resetImage() {
            document.getElementById('logo-image').src = '/img/logo.png';
        }

        const menuToggle = document.getElementById('menu-toggle');
        const menuDropdown = document.getElementById('menu-dropdown');

        menuToggle.addEventListener('click', () => {
            menuDropdown.classList.toggle('hidden');
        });
    </script>

</body>
</html>